@import url("query.css");
*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    background-color: #f2f2f2;
    
}
a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

ul {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Varela Round', sans-serif;
    margin: .7rem;
    line-height: 1.3;
}

p {
    margin: .5rem 0;
}

.active{
    padding-bottom: 7px;
    border-bottom: 2px solid #990000 ;
    border-radius: 2px;
}


/* nav */

.main-nav{
    position:flex;
    justify-content: space-between;
    padding-top: 0.3rem;
    background-color: #d9d9d9;
    border: 1px solid #d9d9d9;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.logo{
    color: white;
    padding: 13px;
}
.main-nav__items{
    display:inline-block;
    width: calc(100% - 105px);
    text-align: right;
    font-size: 1.5rem;
}


.main-nav__item{
    margin: 10px;
    display: inline-block;
    text-align: center;
    
}
.main-nav__item:last-child{
    display: none;
}

.main-nav a:hover{
    color: #003300;
    padding-bottom: 7px;
    border-bottom: 2px solid #4d0000 ;
    border-radius: 2px;
}




/* home */

.img-head{
    background: url(../img/bg.webp) ;
    height: 500px;
    width: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    background-repeat: no-repeat;
    object-fit: contain;
    position: relative;
}
.img-head h1{
    position: absolute;
    text-align: center;
    top: 50%;
    margin: 0;
    font-size: 55px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(140, 140, 140, .5);
    border-radius: 15px;
    padding: 15px;
    color: white;
    font-family: 'Nerko One', cursive;
    font-style: italic;

}


/* aciklama */

.explanation{
    display: flex;
    align-items: center;

}

.right{
    background-color: rgba(140, 140, 140, .2);
    border-radius: 40px;
    padding: 20px;
    padding-left: 25px;
    color: #003300;
    box-shadow: 33px 12px 57px -38px rgba(0,0,0,0.75);

}
.right a{
    color: #001a00;
}
.right a:hover{
    color: rgb(12, 12, 173);
    text-decoration: underline;
}
.right p{
    font-size: 1.8rem !important;
}

.img-main{
    background: url(../img/konya-kapak.jpg);
    height: 400px;
    width: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    background-repeat: no-repeat;
    object-fit: contain;
    box-shadow: -62px 12px 122px -69px rgba(0,0,0,0.75);

}


/* footer */
    /* social media icons */
.main-footer{
    background-color: #d9d9d9 ;
}
.footer-list .item{
    padding: 15px;
}
.main-footer .footer-container{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 2rem;
}

.socail-media{
    font-size: 45px;
    text-align: left;
    margin-left: 45px;
}
.socail-media .fab{
    margin-right: 15px;
    border-radius:50%;
    padding: 0.9rem;
    text-align: center;
    transition: transform 250ms;
    
}
.socail-media .instagram{
    color: #bc2a8d; color: rgb(188, 42, 141); 
    
}
.socail-media .linkedin{
    color: #007bb6; color: rgb(0, 123, 182); 
}
.socail-media .github{
    color: #000000;
}

.socail-media .fab:hover{
    transform: translateY(-10px);
}
.socail-media .github .fab:hover{
    color: #0b2238;
    box-shadow: 0 0 24px 0 black;

}
.socail-media .instagram .fab:hover{
    color: #650000;
    box-shadow: 0 0 24px 0 #ad2e18;

}
.socail-media .linkedin .fab:hover{
    color: #01264b;
    box-shadow: 0 0 24px 0 #4183c4;

}
    /* name */

.footer-list .name {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 800;
    box-shadow: inset 0px 0px 28px -7px rgba(0,0,0,0.29);
}
.footer-list .student_number {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 800;
    box-shadow: inset 0px 0px 28px -7px rgba(0,0,0,0.29);
}


/* GALLERY */


/* images */


.images .articles-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.images img {
    width: 100%;
    border-radius: 10px;
    max-height: 25rem;
    border: 1px dotted #4d0000;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}
.images .card:hover{
    transform: translateY(-25px) scale(1.1);
}
.images .card{
    padding: 1rem;
    margin: 1.3rem;
    margin-top: 2.5rem;
    transition: transform 250ms;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    position: relative;
}

.images .caption{
    background-color: #4d0000;
    color: white;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    border: 1px solid black ;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.images .images-title h3{
    padding: 8px 25px 8px 25px;
    margin-left: 10px;
    display: inline-block;
    border-radius: 30px;
    color: white;
    font-style: italic;
}